<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<p>Ваши данные</p>
<br/>
<a th:text="${'FirstName: ' + user.getFirstName()}">name</a>
</br>
<a th:text="${'LastName: ' + user.getLastName()}">lastName</a>
</br>
<a th:text="${'Email: ' + user.getEmail()}">email</a>
</br>
<a th:text="${'Age: ' + user.getAge()}">age</a>

<br/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Log Out"/>
</form>

</body>
</html>